.section-project {
    padding-left: 24px;
    padding-right: 24px;
}

.section-project h2 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.375rem;
}

.section-project div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.section-project div h3 {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 400;
    font-size: 1rem;
    letter-spacing: 3px;
}

.section-project div time {
    font-weight: 200;
    font-size: 1rem;
}

.section-project span i {
    color: #304d78;
    font-size: 1rem;
}

.section-project ul {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1rem;
}
